/* Style for the card container */
.card-container {
  border-radius: 25px; /*rounds corners*/
  width: 70%; /*width*/
  background-color: lightgrey; /*background color*/
  margin-bottom: 10px; /*sets bottom margin*/
  text-align: center; /* Center align content */
  border: 1px solid lightgrey; /* Styles the border of container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /*set box shadow*/
}

/* Style for the Pokemon name */
.poke-name {
  margin-top: 20px; /* Top margin */
}

/* Style for the Pokemon Image */
.poke-image {

    margin-bottom:10px;
    margin-right: 30px

}

/* Style for the content wrapper */
.content-wrapper {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin-top: 20px; /* Top Margin */
}

/* Style for the left content (image) */
.content-left {
  flex: 1; /* Take remaining space */
  text-align: center; /* Center content horizontally */
}

/* Style for the right content (attributes and button) */
.content-right {
  flex: 1; /* Take remaining space */
  text-align: center; /* Center content horizontally */
  margin-right: 10px;
  margin-left: 50px;
}

/* Style for the attributes box */
.attributes-box {
  margin-right: 10px;
  border: 2px solid #ccc; /* Border style */
  padding: 10px; /* Padding */
  margin-top: 20px; /* Margin for top spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*set box shadow*/
}

/* Styles for the attributes list */
.attributes-box ul {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Padding */
}

/* Style for each attribute item */
.attributes-box li {
  margin-bottom: 5px; /* Margin spacing between items */
}

/* Style for button */
.small-button {
  font-size: 14px; /* Font size */
  padding: 5px 10px; /* Padding */
  margin-top: 15px; /* Top Margin */
  margin-left: 220px;
}
/*  Style for body */
body {
    background-color: lightseagreen;
     /* background color */
    margin:0; /* Margin */
    display:flex;                   /* >> Centers body elements << */
    flex-direction: column;         /*              "              */
    justify-content: center;        /*              "              */
    align-items: center;            /*              "              */
    width:100%;   /* Set to take up whole page */          
    height: auto; /*< " */

}

.navbar {
  border:1px solid black;
  border-radius: 10px;
  background-color: black; /*background color*/
  max-width: 100%; /*max width of nav bar to full width of screen*/
}

.scroll-container {
  border-radius: 8px; /*rounds corners*/
  background-color: lightgrey; /*background color*/
  margin-bottom: 10px; /*sets bottom margin*/
  overflow: auto; /* automatically handles overflow */
  align-items: center; /*center items */
}

.navbar img {
  width: 150px; /*sets width of image */
  height: auto; /*auto height to keep image proportions*/
  margin-right: 2.5px; /*spacing to keep cards from touching */
}

.search-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;                 /* >> Centers body elements << */
    align-items: center;            /*              "              */
    justify-content: center;        /*              "              */
    width: 75%; /*sets width of search bar*/
    padding: 2.5%; /*padding*/
    background-color: lightgrey; /*background color*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*"float" appearence*/
    border-radius: 25px;
}

.form {
  margin-bottom: 20px; /*distance from bottom*/
  display: flex; /* Use Flexbox layout */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

/* Styling for form labels */
.form label {
  display: block; /* Display labels as block elements */
  margin: 10px; /* Add margin around labels */
  font-size: 14px; /* Set font size for labels */
  margin-bottom: 8px; /* Add space below labels */
}

/* Styling for form inputs */
.form input {
  width: 100%; /* Make input fields take up 100% of the container width */
  padding: 8px; /* Add padding inside input fields */
  box-sizing: border-box; /* Include padding and border in the total width of the element */
  border: 1px solid #0d0d0d; /* Add a 1px solid border with a dark color */
  border-radius: 4px; /* Apply a 4px border-radius for rounded corners */
}

/* Styling for form buttons */
.form button {
    width: 350px;
    margin: 5px; /* Add margin around buttons */
    background-color: #ff0000; /* Set background color to red */
    color: white; /* Set text color to white */
    padding: 8px; /* Add padding inside buttons */
    border: 1px solid #0d0d0d; /* Add a 1px solid border with a dark color */
    border-radius: 4px; /* Apply a 4px border-radius for rounded corners */
    cursor: pointer; /* Set the cursor to a pointer on hover */
    font-size: 16px; /* Set font size for buttons */
}

.collection-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;                 /* >> Centers body elements << */
    align-items: center;            /*              "              */
    justify-content: center;        /*              "              */
    width: 65%; /*sets width of search bar*/
    padding: 2.5%; /*padding*/
    background-color: lightgrey; /*background color*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /*"float" appearence*/
    border-radius: 25px;
}

.navbar.top {
    overflow-x:scroll;
    white-space: nowrap; /* forces to one line */
}

.navbar.bottom {
    overflow-y: scroll;
    background-color: lightgrey;
}

