/* Example CSS styles for the display card layout */

/* Styles for the card container */
.card-container {
  text-align: center; /* Center align content */
}

/* Styles for the Pokemon name */
.poke-name {
  margin-top: 20px; /* Example margin */
}

/* Styles for the content wrapper */
.content-wrapper {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin-top: 20px; /* Example margin */
}

/* Styles for the left content (image) */
.content-left {
  flex: 1; /* Take remaining space */
  text-align: center; /* Center content horizontally */
}

/* Styles for the right content (attributes and button) */
.content-right {
  flex: 1; /* Take remaining space */
  text-align: center; /* Center content horizontally */
}

/* Styles for the attributes box */
.attributes-box {
  border: 2px solid #ccc; /* Example border style */
  padding: 10px;
  margin-top: 20px; /* Example margin for spacing */
}

/* Styles for the attributes list */
.attributes-box ul {
  list-style: none; /* Remove default list styles */
  padding: 0;
}

/* Style for each attribute item */
.attributes-box li {
  margin-bottom: 5px; /* Example margin for spacing between items */
}

/* Style for the smaller button */
.small-button {
  font-size: 14px; /* Example smaller font size */
  padding: 5px 10px; /* Example padding */
  margin-top: 20px; /* Example margin */
}
body {
    background-color: slategray;
    margin:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: auto;
}

.navbar {
  overflow: hidden;
  white-space: nowrap;
  background-color: slategray;
  max-width: 100%;
}

.scroll-container {
  overflow:auto;
  align-items: center;
  overflow: auto;
}

.navbar img {
  width: 150px;
  height: auto;
  margin-right: 2.5px;
}

.search-bar {
    display: block;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 2.5%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form {
    margin-bottom: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.form label {
    display: block;
    margin: 10px;
    font-size: 14px;
    margin-bottom: 8px;
}

.form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #0d0d0d;
    border-radius: 4px;
}

.form button {
    margin:5px;
    background-color: #ff0000;
    color: #fff;
    padding: 8px;
    border: 1px solid #0d0d0d;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
