.pokemon-image {
    width:200px;
    height:auto;
}

    .navbar {
      overflow: hidden;
      background-color: #333;
    }

    .navbar a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .navbar a:hover {
      background-color: #ddd;
      color: black;
    }

    .navbar .scroll-container {
      overflow-x: auto;
      white-space: nowrap;
    }

    .navbar img {
      width: 100px; /* Set the width of your images */
      height: auto; /* Maintain aspect ratio */
      /* margin-right: 10px; Adjust spacing between images */
    }
